<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información F1</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="../assets/imgs/racing-car.ico" />
    <link rel="stylesheet" href="../assets/styles/about_style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navMenu" id="topNavbar">
      <a href="javascript:void(0);" class="icon-menu" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <a href="drivers.html">Pilotos</a>
      <a href="about.html" class="active">Acerca de</a>
      <a href="../index.html">Inicio</a>
      <a href="../index.html" class="icon"
        ><img src="../assets/imgs/racing-car.png" alt="Navbar Icon"
      /></a>
    </nav>
    <header>
      <h1 class>Información del sitio web</h1>
    </header>
    <div class="container">
      <!-- Sección: Acerca de -->
      <section class="about-section">
        <div class="image-container">
          <img
            src="../assets/imgs/racing.jpg"
            alt="Checo Perez celebrando su primera victoria en un Grand Prix"
          />
          <p>
            Bienvenidos a la casa de la Fórmula 1. Esta página expresa mi pasión
            por el deporte automovilístico más emocionante y desafiante del
            mundo, donde les comparto mis 5 pilotos favoritos. He sido un
            apasionado de la Fórmula 1 durante mucho tiempo y he seguido los
            logros y fracasos de los pilotos más importantes de este deporte. En
            esta página web, he seleccionado cuidadosamente a los 5 pilotos que
            más me gustan, mostrando la foto oficial de equipo de cada uno de
            ellos, junto con una pequeña descripción acerca de su trayectoria en
            el deporte. Espero que disfruten de esta página web y que les guste
            mi selección de pilotos.
          </p>
        </div>
      </section>
    </div>

    <footer>
      <p>Hecho por <a href="https://github.com/juanfdezg">Juan Fernández</a></p>
      <p>Tecnologías y Aplicaciones Web</p>
    </footer>

    <script src="../script.js"></script>
  </body>
</html>
