<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pilotos de F1</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="../assets/imgs/racing-car.ico" />
    <link rel="stylesheet" href="../assets/styles/drivers_style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navMenu" id="topNavbar">
      <a href="javascript:void(0);" class="icon-menu" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <a href="drivers.html" class="active">Pilotos</a>
      <a href="about.html">Acerca de</a>
      <a href="../index.html">Inicio</a>
      <a href="../index.html" class="icon"
        ><img src="../assets/imgs/racing-car.png" alt="Navbar Icon"
      /></a>
    </nav>
    <div class="container">
      <!-- Sección: Fichas de pilotos -->
      <section class="drivers-section">
        <div class="driver-container">
          <div class="driver">
            <div class="driver-image">
              <a href="https://www.formula1.com/en/drivers/lewis-hamilton.html">
                <img src="../assets/imgs/lewis.jpg" alt="Lewis Hamilton" />
              </a>
            </div>
            <div class="driver-name">
              <h2>Lewis Hamilton</h2>
            </div>
            <div class="driver-team">
              <h3>Mercedes</h3>
            </div>
            <div class="driver-text">
              <p>
                Lewis Carl Davidson Hamilton (Stevenage, 7 de enero de 1985) es
                un piloto de automovilismo británico. Actualmente compite en la
                Fórmula 1 para Mercedes-AMG Petronas Motorsport. Es siete veces
                campeón del mundo de Fórmula 1 (2008, 2014, 2015, 2017, 2018,
                2019 y 2020).
              </p>
            </div>
          </div>

          <div class="driver">
            <div class="driver-image">
              <a
                href="https://www.formula1.com/en/drivers/charles-leclerc.html"
              >
                <img src="../assets/imgs/leclerc.jpg" alt="Charles Leclerc" />
              </a>
            </div>
            <div class="driver-name">
              <h2>Charles Leclerc</h2>
            </div>
            <div class="driver-team">
              <h3>Ferrari</h3>
            </div>
            <div class="driver-text">
              <p>
                Charles Leclerc (Monte Carlo, 16 de octubre de 1997) es un
                piloto de automovilismo monegasco. Actualmente compite en la
                Fórmula 1 para Scuderia Ferrari. Es el primer piloto monegasco
                en competir en la Fórmula 1.
              </p>
            </div>
          </div>

          <div class="driver">
            <div class="driver-image">
              <a href="https://www.formula1.com/en/drivers/sergio-perez.html">
                <img src="../assets/imgs/perez.jpg" alt="Sergio Pérez" />
              </a>
            </div>
            <div class="driver-name">
              <h2>Sergio Pérez</h2>
            </div>
            <div class="driver-team">
              <h3>Red Bull Racing</h3>
            </div>
            <div class="driver-text">
              <p>
                Sergio Pérez González (Guadalajara, Jalisco, México, 26 de enero
                de 1990) es un piloto de automovilismo mexicano. Actualmente
                compite en la Fórmula 1 para Red Bull Racing. Es el primer
                piloto mexicano en competir en la Fórmula 1.
              </p>
            </div>
          </div>

          <div class="driver">
            <div class="driver-image">
              <a
                href="https://www.formula1.com/en/drivers/fernando-alonso.html"
              >
                <img src="../assets/imgs/alonso.jpg" alt="Fernando Alonso" />
              </a>
            </div>
            <div class="driver-name">
              <h2>Fernando Alonso</h2>
            </div>
            <div class="driver-team">
              <h3>Aston Martin</h3>
            </div>
            <div class="driver-text">
              <p>
                Fernando Alonso Díaz (Oviedo, 29 de julio de 1981) es un piloto
                de automovilismo español. Actualmente compite en la Fórmula 1
                para Aston Martin F1 Team. Es dos veces campeón del mundo de
                Fórmula 1 (2005 y 2006).
              </p>
            </div>
          </div>

          <div class="driver">
            <div class="driver-image">
              <a href="https://www.formula1.com/en/drivers/lando-norris.html">
                <img src="../assets/imgs/norris.jpg" alt="Lando Norris" />
              </a>
            </div>
            <div class="driver-name">
              <h2>Lando Norris</h2>
            </div>
            <div class="driver-team">
              <h3>McLaren</h3>
            </div>
            <div class="driver-text">
              <p>
                Lando Norris (Wellingborough, 13 de noviembre de 1999) es un
                piloto de automovilismo británico. Actualmente compite en la
                Fórmula 1 para McLaren F1 Team. Es el tercer piloto más joven en
                conseguir un punto en un Gran Premio de Fórmula 1
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <p>Hecho por <a href="https://github.com/juanfdezg">Juan Fernández</a></p>
      <p>Tecnologías y Aplicaciones Web</p>
    </footer>

    <script src="../script.js"></script>
  </body>
</html>
